.errorHead {
	color: red;
}
.nobr	{ white-space:nowrap; }

.ld_body {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
}

.ld_link {
	color: #3b5998;
	outline-style: none;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
	cursor: hand;
	cursor: pointer;
}

/* Default Anchor Style */
.ld_body a {
	color: #3b5998;
	outline-style: none;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}

.ld_body a:hover {
	text-decoration: underline;
}

.rollupSummaryTab {
	background-color: #f7f7f7;
	border: 1px solid #cccccc;
	color: #333333;
	padding: 10px;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}

.ld_bluebox {
	background-color: #eceff6;
	border: 1px solid #d4dae8;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

.ld_infobox {
	background-color: #fff9d7;
	border: 1px solid #e2c822;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

.ld_errorbox {
	background-color: #ffebe8;
	border: 1px solid #dd3c10;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

#SettingsMenuId {
	background-color: #ffebe8;
	border: 0px solid #dd3c10;
	color: #333333;
	padding: 0px;
	font-size: 10px;
	font-weight: normal;
}

.descriptionText {
	color: #333;
	font-size: 13px;
	line-height: 1.38;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: normal;
}

.selectDivClass {
	color: #333;
	font-size: 13px;
	line-height: 1.38;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: normal;
	font-decoration: underline;
}

.ld_contentdivider {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 520px;
	height: 1px;
	background-color: #d8dfea;
}

.menuSectionStyle {
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid #3b5978;
}

.settingsIconStyle {
	margin-top: 5px;
}

.ld_tab {
	padding: 8px;
	background-color: #3b5998;
	color: #dddddd;
	font-weight: bold;
	margin-right: 4px;
	text-decoration: none;
	font-size: 11px;
}

.ld_tab a {
	color: #ffffff;
	text-decoration: underline;
}

#legendDiv {
	border-right: 1px solid;
	margin-right: 20px;
}

